body {
    background-color: beige;
}

.box {
    border-style: groove;
}

h2, #subtitle, form {
    text-align: center;
}


ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
